# Path to the demo app APK. CI downloads it automatically; set locally if testing on your machine.
APK_PATH=./app/MyDemoAppRN.apk
APPIUM_SERVER_URL=http://localhost:4723
PLATFORM_VERSION=13
DEVICE_NAME=Android Emulator
